In [1]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
#from sklearn.preprocessing import StandardScaler
import io
import os

Set paths to csv files and create dataframe for each

In [6]:
gravel_full_df = pd.DataFrame(columns = ["dataset", "file_name",'count', 'no clue', 'g2g', 'g18g', 'g50g', 'ppm', 'g200g', 'gX55g', 'gY55g', 'g250g']) # names columns)

gravel_csv1 = r'C:\Users\elise\Downloads\Arolik_Output1-5.csv'
gravel_csv2 = r"C:\Users\elise\Downloads\Arolik_Output2-5.csv"
gravel_csv3 = r"C:\Users\elise\Downloads\Arolik_Output3-5.csv"
gravel_csv4 = r"C:\Users\elise\Downloads\Arolik_Output4-5.csv"
gravel_csv5 = r"C:\Users\elise\Downloads\Arolik_Output5-5.csv"

gravel_df1 = pd.read_csv(gravel_csv1)
gravel_df2 = pd.read_csv(gravel_csv2)
gravel_df3 = pd.read_csv(gravel_csv3)
gravel_df4 = pd.read_csv(gravel_csv4)
gravel_df5 = pd.read_csv(gravel_csv5)

Combine all dataframes

In [7]:
gravel_full_df = pd.concat([gravel_full_df, gravel_df1], ignore_index=True)
gravel_full_df = pd.concat([gravel_full_df, gravel_df2], ignore_index=True)
gravel_full_df = pd.concat([gravel_full_df, gravel_df3], ignore_index=True)
gravel_full_df = pd.concat([gravel_full_df, gravel_df4], ignore_index=True)
gravel_full_df = pd.concat([gravel_full_df, gravel_df5], ignore_index=True)

In [8]:
print(gravel_full_df)

              dataset     file_name     count   no clue      g2g    g18g  \
0         Arolik_2023  bLog00AF.bin   3622785  -4194304  1478235  132561
1         Arolik_2023  bLog00AF.bin   3622786  -4194304  1489021  132499
2         Arolik_2023  bLog00AF.bin   3622787  -4194304  1489306  132424
3         Arolik_2023  bLog00AF.bin   3622788  -4194304  1488801  133053
4         Arolik_2023  bLog00AF.bin   3622789  -4194304  1476185  133188
...               ...           ...       ...       ...      ...     ...
34439995  Arolik_2023  bLog00F9.bin  -4154436  -4194304  1498016  132848
34439996  Arolik_2023  bLog00F9.bin  -4154435  -4194304  1494935  133984
34439997  Arolik_2023  bLog00F9.bin  -4154434  -4194304  1499515  134119
34439998  Arolik_2023  bLog00F9.bin  -4154433  -4194304  1502885  133811
34439999  Arolik_2023  bLog00F9.bin  -4154432  -4194304  1500203  133329

            g50g    ppm   g200g  gX55g   gY55g  g250g
0         296206  66443  319035  36307  160088  52375
1         296341  67728  319005  36937  157706  52171
2         298199  68454  318901  35334  159056  50794
3         299918  66845  318996  34318  161163  50997
4         301414  67014  319186  35890  159730  52136
...          ...    ...     ...    ...     ...    ...
34439995  302084  65054  305466  22525  153828  50582
34439996  300455  66593  305667  21099  155268  49803
34439997  298834  65581  305710  21227  153943  50446
34439998  297065  64401  305708  21120  151813  49548
34439999  298979  65194  305799  20921  152800  48791

[34440000 rows x 12 columns]

Set path to the csv of drop names

In [10]:
gravel_names_df = pd.read_csv(r'C:\Users\elise\Downloads\Arolik_Drop_Names.csv')
print(gravel_names_df)

                0
0    bLog00AF.bin
1    bLog0078.bin
2    bLog00F8.bin
3    bLog0074.bin
4    bLog009D.bin
..            ...
285  bLog0112.bin
286  bLog00D4.bin
287  bLog0050.bin
288  bLog00F9.bin
289  bLog0079.bin

[290 rows x 1 columns]

Check if every recording belongs to a file with a drop, mark as such

In [13]:
# Check if values in 'Value1' column of df1 are present in 'Value2' column of df2
gravel_full_df['drop'] = gravel_full_df['file_name'].isin(gravel_names_df).astype(int)

In [14]:
print(gravel_full_df)

              dataset     file_name     count   no clue      g2g    g18g  \
0         Arolik_2023  bLog00AF.bin   3622785  -4194304  1478235  132561
1         Arolik_2023  bLog00AF.bin   3622786  -4194304  1489021  132499
2         Arolik_2023  bLog00AF.bin   3622787  -4194304  1489306  132424
3         Arolik_2023  bLog00AF.bin   3622788  -4194304  1488801  133053
4         Arolik_2023  bLog00AF.bin   3622789  -4194304  1476185  133188
...               ...           ...       ...       ...      ...     ...
34439995  Arolik_2023  bLog00F9.bin  -4154436  -4194304  1498016  132848
34439996  Arolik_2023  bLog00F9.bin  -4154435  -4194304  1494935  133984
34439997  Arolik_2023  bLog00F9.bin  -4154434  -4194304  1499515  134119
34439998  Arolik_2023  bLog00F9.bin  -4154433  -4194304  1502885  133811
34439999  Arolik_2023  bLog00F9.bin  -4154432  -4194304  1500203  133329

            g50g    ppm   g200g  gX55g   gY55g  g250g  drop
0         296206  66443  319035  36307  160088  52375     0
1         296341  67728  319005  36937  157706  52171     0
2         298199  68454  318901  35334  159056  50794     0
3         299918  66845  318996  34318  161163  50997     0
4         301414  67014  319186  35890  159730  52136     0
...          ...    ...     ...    ...     ...    ...   ...
34439995  302084  65054  305466  22525  153828  50582     0
34439996  300455  66593  305667  21099  155268  49803     0
34439997  298834  65581  305710  21227  153943  50446     0
34439998  297065  64401  305708  21120  151813  49548     0
34439999  298979  65194  305799  20921  152800  48791     0

[34440000 rows x 13 columns]

export full gravel dataframe to a csv

In [15]:
gravel_full_df.to_csv(r'C:\Users\elise\Downloads\Arolik_Full_raw.csv', index=False)

repeat for sands

In [16]:
sand_full_df = pd.DataFrame(columns = ["dataset", "file_name",'count', 'no clue', 'g2g', 'g18g', 'g50g', 'ppm', 'g200g', 'gX55g', 'gY55g', 'g250g']) # names columns)

sand_csv1 = r'C:\Users\elise\Downloads\Duck_Output1-5.csv'
sand_csv2 = r"C:\Users\elise\Downloads\Duck_Output2-5.csv"
sand_csv3 = r"C:\Users\elise\Downloads\Duck_Output3-5.csv"
sand_csv4 = r"C:\Users\elise\Downloads\Duck_Output4-5.csv"
sand_csv5 = r"C:\Users\elise\Downloads\Duck_Output5-5.csv"

sand_df1 = pd.read_csv(sand_csv1)
sand_df2 = pd.read_csv(sand_csv2)
sand_df3 = pd.read_csv(sand_csv3)
sand_df4 = pd.read_csv(sand_csv4)
sand_df5 = pd.read_csv(sand_csv5)

In [17]:
sand_full_df = pd.concat([sand_full_df, sand_df1], ignore_index=True)
sand_full_df = pd.concat([sand_full_df, sand_df2], ignore_index=True)
sand_full_df = pd.concat([sand_full_df, sand_df3], ignore_index=True)
sand_full_df = pd.concat([sand_full_df, sand_df4], ignore_index=True)
sand_full_df = pd.concat([sand_full_df, sand_df5], ignore_index=True)

In [18]:
sand_names_df = pd.read_csv(r'C:\Users\elise\Downloads\Duck_Drop_Names.csv')
print(sand_names_df)

                0
0    bLog024D.bin
1    bLog0240.bin
2    bLog01F0.bin
3    bLog028F.bin
4    bLog0269.bin
..            ...
253  bLog0216.bin
254  bLog022A.bin
255  bLog01FF.bin
256  bLog020E.bin
257  bLog0200.bin

[258 rows x 1 columns]

In [19]:
sand_full_df['drop'] = sand_full_df['file_name'].isin(sand_names_df).astype(int)
print(sand_full_df)

            dataset     file_name     count   no clue      g2g    g18g  \
0         Duck_2023  bLog024D.bin    165569  -4194304  1469739  130660
1         Duck_2023  bLog024D.bin    165570  -4194304  1460896  130313
2         Duck_2023  bLog024D.bin    165571  -4194304  1439371  129866
3         Duck_2023  bLog024D.bin    165572  -4194304  1425869  129051
4         Duck_2023  bLog024D.bin    165573  -4194304  1425646  127409
...             ...           ...       ...       ...      ...     ...
30599995  Duck_2023  bLog020E.bin  -7274436  -4194304  1722657  157383
30599996  Duck_2023  bLog020E.bin  -7274435  -4194304  1700309  154738
30599997  Duck_2023  bLog020E.bin  -7274434  -4194304  1690116  154140
30599998  Duck_2023  bLog020E.bin  -7274433  -4194304  1694349  154312
30599999  Duck_2023  bLog020E.bin  -7274432  -4194304  1695511  154232

            g50g    ppm   g200g  gX55g   gY55g  g250g  drop
0         297276  76424  320929  92311  146849  51428     0
1         297433  79184  320944  87928  149576  51949     0
2         298163  79655  320661  88417  151694  52283     0
3         298751  79124  320241  88424  152413  52682     0
4         299327  80191  320074  88799  153027  51576     0
...          ...    ...     ...    ...     ...    ...   ...
30599995  307437  81811  325141  44408  150489  54109     0
30599996  306369  81279  324771  43796  148803  54744     0
30599997  305596  79919  324503  42867  148403  55734     0
30599998  304141  79196  324274  42295  148869  55394     0
30599999  302069  80502  324233  40409  146683  54869     0

[30600000 rows x 13 columns]

In [20]:
sand_full_df.to_csv(r'C:\Users\elise\Downloads\Duck_Full_raw.csv', index=False)

In [2]:
clay_full_df = pd.DataFrame(columns = ["dataset", "file_name",'count', 'no clue', 'g2g', 'g18g', 'g50g', 'ppm', 'g200g', 'gX55g', 'gY55g', 'g250g']) # names columns)

clay_csv1 = r'C:\Users\elise\Downloads\Sequim_Output1-5.csv'
clay_csv2 = r"C:\Users\elise\Downloads\Sequim_Output2-5.csv"
clay_csv3 = r"C:\Users\elise\Downloads\Sequim_Output3-5.csv"
clay_csv4 = r"C:\Users\elise\Downloads\Sequim_Output4-5.csv"
clay_csv5 = r"C:\Users\elise\Downloads\Sequim_Output5-5.csv"

clay_df1 = pd.read_csv(clay_csv1)
clay_df2 = pd.read_csv(clay_csv2)
clay_df3 = pd.read_csv(clay_csv3)
clay_df4 = pd.read_csv(clay_csv4)
clay_df5 = pd.read_csv(clay_csv5)

In [3]:
clay_full_df = pd.concat([clay_full_df, clay_df1], ignore_index=True)
clay_full_df = pd.concat([clay_full_df, clay_df2], ignore_index=True)
clay_full_df = pd.concat([clay_full_df, clay_df3], ignore_index=True)
clay_full_df = pd.concat([clay_full_df, clay_df4], ignore_index=True)
clay_full_df = pd.concat([clay_full_df, clay_df5], ignore_index=True)

In [4]:
clay_names_df = pd.read_csv(r'C:\Users\elise\Downloads\Sequim_Drop_Names.csv')
print(clay_names_df)

                0
0    bLog03A0.bin
1    bLog03F7.bin
2    bLog024D.bin
3    bLog0359.bin
4    bLog0444.bin
..            ...
692  bLog03AB.bin
693  bLog0413.bin
694  bLog01FF.bin
695  bLog020E.bin
696  bLog0200.bin

[697 rows x 1 columns]

In [5]:
clay_full_df['drop'] = clay_full_df['file_name'].isin(clay_names_df).astype(int)
print(clay_full_df)

              dataset     file_name     count   no clue      g2g    g18g  \
0         Sequim_2021  bLog03A0.bin  -4034431  -4194304  1441103  129378
1         Sequim_2021  bLog03A0.bin  -4034430  -4194304  1446383  128947
2         Sequim_2021  bLog03A0.bin  -4034429  -4194304  1452913  129749
3         Sequim_2021  bLog03A0.bin  -4034428  -4194304  1452101  130631
4         Sequim_2021  bLog03A0.bin  -4034427  -4194304  1446652  130924
...               ...           ...       ...       ...      ...     ...
35999995  Sequim_2021  bLog02A4.bin  -4206084  -4194304  -248599  -42499
35999996  Sequim_2021  bLog02A4.bin  -4206083  -4194304  -243242  -41863
35999997  Sequim_2021  bLog02A4.bin  -4206082  -4194304  -245871  -42112
35999998  Sequim_2021  bLog02A4.bin  -4206081  -4194304  -245836  -42927
35999999  Sequim_2021  bLog02A4.bin  -4206080  -4194304  -251899  -42376

            g50g    ppm   g200g  gX55g   gY55g  g250g  drop
0         301261  59453  316384  30853  159886  53026     0
1         299831  59630  316517  30082  159056  52683     0
2         297788  58718  316758  28965  156644  51241     0
3         298203  58499  316440  29233  155818  50649     0
4         299074  59098  316331  29244  155938  51419     0
...          ...    ...     ...    ...     ...    ...   ...
35999995  230765  49679  272998   9944  185531  38607     0
35999996  229730  51000  272811   9408  184767  39099     0
35999997  229152  51797  272951  10278  183506  39327     0
35999998  228414  51972  272936  13032  184702  37802     0
35999999  227086  51443  273045  12309  183506  37923     0

[36000000 rows x 13 columns]

In [6]:
clay_full_df.to_csv(r'C:\Users\elise\Downloads\Sequim_Full_raw.csv', index=False)